<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<input type="text" class='typeahead' >

<script type="text/javascript">
  $('input.typeahead').typeahead({
    name: 'accounts',
    local: ['timtrueman', 'JakeHarding', 'vskarich']
  });
</script>

<div style='margin-bottom:200%'></div>